html {
    height: 100%;
}

body {
    height: 100%;
    color: rgb(252, 23, 69);
    background-color: #02a702;
    /* text-shadow:
       1px 1px 0 #444,
     1px 1px 0 #444,  
      1px 1px 0 #444,
      1px 1px 0 #444,
       1px 1px 0 #444; */
    text-align: center;
}

#progress-bar {
    width: 100%;
    height: 3em;
    background: #7A5901;
    display: flex;
    position: relative;
}

#progress {
    height: 3em;
    background: #deea28;
}

#progress-text {
    color: #02a702;
    font-size: larger;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.luke {
    
    background: rebeccapurple;
    color: white;
    margin: 1px;
    padding: 10px;
}

.open {
    background: rgb(252, 23, 69);
    color: white;
}

#luke-container {
    background: rgba(50, 140, 90, .8);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 1em;
}