
body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #db0b46 0%, #490418 100%);
  color: #f1ead5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.progress-outer {
  height: 3em;
  background: #f0dca0;
  position: relative;
}

.progress-inner {
  background: #4c816a;
  height: 100%;
  color: white;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

jolly-calendar > progress-bar:hover {
  transform: scale(1.25, 1.25);
  border: 1px solid white;
  margin: -1px;
  z-index: 999;
}
jolly-calendar > progress-bar:hover > .progress-outer > .progress-label {
  visibility: visible;
  color: #70422e;
}
jolly-calendar > progress-bar > .progress-outer > .progress-label {
  visibility: hidden;
}

jolly-calendar {
  background: #70422e;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1px;
  margin-top: 1em;
}
